:root {
  --navbar-color: #084C61;
  --background-color: #CDD5D1;
  --text-color:#000000;
  --header-color: #E18335;
  --header-size: 3em;
  --subheader-size: 2em;
  --font-size: 1em;
}


html{
  font-size: 16px;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--navbar-color);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

nav ul li a {
  display: block;
  color: var(--background-color);
  padding: 1rem;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: var(--text-color);
}

nav ul li a.active{
    background-color: var(--header-color);
}

main{
  padding: 10px;
  font-size: var(--font-size);
}

h1{
  color: var(--header-color);
  font-size: var(--header-size);
}

#hero-section{
  text-align: center;
}