html{
  font-size: 16px;
}

body{
    padding: 0;
    margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: center;
    overflow: hidden;
}

nav ul li a {
  display: block;
  color: white;
  padding: 1rem;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111111;
}

nav ul li a.active{
    background-color: rgb(16, 16, 132);
}

.title{
  font-size: 5rem;
  text-align: center;
}

.name{
  font-size: 3rem;
  text-align: center;
}

.mission-statement{
  font-size: 2rem;
  text-align: center;
}

.line{
  border-bottom: .3rem solid black;
}

#intro-paragraph{
  font-size: 1rem;
  text-align: center;
}