:root {
  --navbar-color: #084C61;
  --background-color: linear-gradient(to right, rgba(0,51,102,1), rgba(15,82,186,1));
  --text-color:#000000;
  --header-color: #E18335;
  --header-size: 5em;
  --subheader-size: 2em;
  --slogan-size: 1.5em;
  --font-size: 1em;


}

html{
  font-size: var(--font-size);
}

body{
    padding: 0;
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--navbar-color);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

nav ul li a {
  display: block;
  color: var(--background-color);
  padding: 1rem;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: var(--text-color);
}

nav ul li a.active{
    background-color: var(--header-color);
}

main{
  font-size: var(--font-size);
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

h1{
  color: var(--header-color);
  font-size: var(--header-size);
  text-align: center;
}

#hero-section{
  text-align: center;
}

#hero-section h1{
  font-size: var(--header-size);
}

#hero-section h3{
  font-size: var(--subheader-size);
}

.mission-statement{
  background-color: var(--navbar-color);
  color: var(--background-color);
  font-size: var(--slogan-size);
  border: 4px solid var(--header-color);
  border-radius: 40px;
  text-align: center;
  padding: 20px;
  font-family: Georgia, Arial;
}

.line{
  border-bottom: 4px solid var(--header-color);
}

footer p{
  display: block;
  padding: .2rem;
}

footer{
  display: flex;
  justify-content: center;
}